<div>
    {% block userartwork_content %}
    {{userartworktable | safe}}
    {% endblock %}
  </div>
<br><br>
  <div>
    {% block userartist_content %}
    {{userartisttable | safe}}
    {% endblock userartist_content %}
  </div>
<br><br>
  <div>
    {% block usermovement_content %}
    {{usermovementtable | safe}}
    {% endblock usermovement_content %}
  </div>
<br>
  <h3> user recommendations </h3>
  <div>
    {% block userrec_content %}
    {{userrectable | safe}}
    {% endblock userrec_content %}
  </div>


  <a href="index.html"><input type="submit" value="Back to home page"></a>