<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Art in NYC</h1>
  <!--<div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>-->

  <!-- ADD USER 
<h2>Create a User</h2>
<form method="POST" action="/adduser">
    <p>What is your name?<br>
    <input type = "text" name = "new_user_name">
    <input type="submit" value="Create a user"></p>
  </form>-->


  <!-- USER RECS -->
<!--  <form method="POST" action="/getuserinfo">
    
    <p>Select user<br>
      <select name="get_user">
      {% for un in user_names %}
      <option value = "{{ un }}">{{ un }}</option>
      {% endfor %}<br>
    </select></p>
    <input type="submit" value="Get user information">
  </form>-->

    
  <div>
    {% if loggedinid == 0 %}
    You are not logged in. <br>
    Please log in or create new user and log in if you want to add preferences and/or receive recommendations.
    <form method="POST" action="/">
        <p><b>Log in as:</b><br>
        <select name="get_user">
        {% for un in user_names %}
        <option value = "{{ un }}">{{ un }}</option>
        {% endfor %}
        </select></p>
        <input type="submit" value="Login">
    </form>

      <!-- ADD USER -->
    <br><b>Create a user</b>
    <form method="POST" action="/adduser">
      <br>Please enter your name (at least one character)<br>
      <input type = "text" name = "new_user_name">
      <input type="submit" value="Create a user">
    </form>

    {% else %}
    You are logged in as user {{loggedinid}}

        <form method="POST" action="/">
        <input type="submit" name = "logout" value="Logout">
        </form>
        <br>
        <b>Add preferences and museums visited</b>


        <form method="POST" action="/addartworkpref">
        <select name="art_pref">
        {% for a in artid_titles %}
        <option value = "{{a}}">{{a}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add artwork preference">
        </form><br>

        <form method="POST" action="/addartistpref">
        <select name="artist_pref">
        {% for a in artistid_names %}
        <option value = "{{a}}">{{a}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add artist preference">
        </form><br>

        <form method="POST" action="/addmovementpref">
        <select name="movement_pref">
        {% for m in movement_names %}
        <option value = "{{m}}">{{m}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add movement preference">
        </form><br>

        <form method="POST" action="/addvismus">
        <select name="visited_mus">
        {% for m in museumid_names %}
        <option value = "{{m}}">{{m}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add museum you have visited">
        </form><br>


        <form method="POST" action="/getuserinfo">
        <input type="submit" name = "recs" value="Get user information">
        </form>

        {{ likemessage }}
        {{userartworktable | safe}}<br>
        {{userartisttable | safe}}<br>
        {{usermovementtable | safe}}<br>

        {{ musmessage }}
        {{uservisitedtable | safe}}<br>
        
        {{ recmessage }}<br>
        {{userrectable | safe}}<br>

    {% endif %}



<!-- SEARCH FOR ARTWORKS -->
  <h2>Search for artworks</h2>
  <form method="POST" action="/recommendartworkbyid">
    <p>Search by artwork id<br>
    <select name="get_artwork_id">
      <option value="all" selected>Any</option>
      {% for aid in artwork_ids %}
      <option value = "{{ aid }}">{{ aid }}</option>
      {% endfor %}<br>
    </select></p>

  <input type="submit" value="Search for artwork by artwork id">
</form>

  <div>
    {% block artwork_id_content %}
    {{artworkidtable | safe}}
    {% endblock artwork_id_content %}
  </div>


  <form method="POST" action="/recommendartworkbymedium">
    <p>Search by medium of artwork<br>
    <select name="get_medium">
    <option value="all" selected>Any</option>
    {% for m in artwork_mediums %}
      <option value = "{{ m }}">{{ m }}</option>
      {% endfor %}<br>
    </select></p>

    <input type="submit" value="Search for artwork by medium">
  </form>

  <div>
    {% block medium_content %}
    {{artworkmediumtable | safe}}
    {% endblock medium_content %}
  </div>


  <form method="POST" action="/recommendartworkbyplacecreated">
    <p>Search by place created for artwork<br>
    <select name="get_place_created">
    <option value="all" selected>Any</option>
    {% for p in artwork_place_created %}
      <option value = "{{ p }}">{{ p }}</option>
      {% endfor %}<br>
    </select></p>

    <input type="submit" value="Search for artwork by place created">
  </form>

  <div>
    {% block place_created_content %}
    {{artworkplacecreatedtable | safe}}
    {% endblock %}
  </div>

  <form method="POST" action="/recommendartworkbytitle">
    <p>Search by title<br>
    <select name="get_title">  
    <option value="all" selected>Any</option>
    {% for t in artwork_titles %}
      <option value = "{{ t }}">{{ t }}</option>
      {% endfor %}<br>
    </select></p>

    <input type="submit" value="Search for artwork by title">
  </form>

  <div>
    {% block artwork_title_content %}
    {{artworktitletable | safe}}
    {% endblock %}
  </div>

    <form method="POST" action="/recommendartworkbyyear">
    <p>Search by year<br>
    <select name="get_year">
    <option value="all" selected>Any</option>
    {% for y in artwork_years %}
      <option value = "{{ y }}">{{ y }}</option>
    {% endfor %}<br>
    </select></p>


    <input type="submit" value="Search for artwork by year">
  </form>

  <div>
    {% block artwork_year_content %}
    {{artworkyeartable | safe}}
    {% endblock %}
  </div>



<!-- SEARCH FOR MUSEUMS -->
  <h2>Search for museums</h2>
  <form method="POST" action="/recommendmuseum">
    <p>Select name of museum<br>
    <select name="get_museumname">
    <option value="all" selected>Any</option>
    {% for n in museum_names %}
      <option value = "{{ n }}">{{ n }}</option>
    {% endfor %}<br>
    </select></p>


    <p>Select CU discount options<br>
    <select name="get_museumdiscount">
    <option value="all" selected>CU Discount does not matter</option>
    <option value="true">Must have discount for CU ID Holders</option>
    <br></select></p>

    <input type="submit" value="Search for Museum">
  </form>

  <div>
    {% block museumcontent %}
    {{museumtable | safe}}
    {% endblock museumcontent %}
  </div> 

<!-- SEARCH FOR ARTISTS BY MOVEMENT -->
  <h2>Search for Artists by Movement</h2>
  <form method="POST" action="/searchartistbymovement">
    <p>Select name of movement<br>
    <select name="get_movement">
    <option value="all" selected>Any</option>
    {% for z in movement_names %}
      <option value = "{{ z }}">{{ z }}</option>
    {% endfor %}<br>
    </select></p>

    <input type="submit" value="Search for artist by movement">
  </form>

  <div>
    {% block artistcontent %}
    {{artisttable | safe}}
    {% endblock artistcontent %}
  </div> 


 

<!--<p><a href="another">Go to the other page</a></p>-->

<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

</body>


</html>
