<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Art in NYC</h1>
  <!--<div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>-->

<!-- SEARCH FOR ARTWORKS -->
  <h2>Search for artworks</h2>
  <form method="POST" action="/recommendartwork">
    <p>Select artwork id<br>
    <select name="get_artwork_id">
    <option value="all" selected>any</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <br></select></p>


  <form method="POST" action="/recommendartwork">
    <p>Select medium of artwork<br>
    <select name="get_medium">
    <option value="Oil on canvas">Oil on canvas</option>
    <option value="Felt-tip pen and crayon on paper">Felt-tip pen and crayon on paper</option>
    <option value="Pastel over lithograph">Pastel over lithograph</option>
    <option value="Brush and oil paint, graphite on paperboard">Brush and oil paint, graphite on paperboard</option>
    <option value="Oil and conté crayon on canvas">Oil and conté crayon on canvas</option>
    <option value="Oil, aluminum, paint and wood on fabric">Oil, aluminum, paint and wood on fabric</option>
    <option value="Ink and watercolor on paper">Ink and watercolor on paper</option>

    <br></select></p>

    <input type="submit" value="Search for Artwork">
  </form>





<!-- SEARCH FOR MUSEUMS -->
  <h2>Search for museums</h2>
  <form method="POST" action="/recommendmuseum">
    <p>Select name of museum<br>
    <select name="get_museumname">
    <option value="all" selected>any</option>
    <option value="The Metropolitan Museum of Art">The Metropolitan Museum of Art</option>
    <option value="Museum of Modern Art">Museum of Modern Art</option>
    <option value="Whitney Museum of American Art">Whitney Museum of American Art</option>
    <option value="Solomon R. Guggenheim Museum">Solomon R. Guggenheim Museum</option>
    <option value="The Morgan Library & Museum">The Morgan Library & Museum</option>
    <option value="Brooklyn Museum">Brooklyn Museum</option>
    <option value="Cooper Hewitt, Smithsonian Design Museum">Cooper Hewitt, Smithsonian Design Museum</option>
    <option value="The Frick Collection">The Frick Collection</option>
    <option value="The Jewish Museum">The Jewish Museum</option>
    <option value="American Folk Art Museum">American Folk Art Museum</option>
    <br></select></p>


  <form method="POST" action="/recommendmuseum">
    <p>Select CU discount options<br>
    <select name="get_museumdiscount">
    <option value="all" selected>CU Discount does not matter</option>
    <option value="true">Must have discount for CU ID Holders</option>
    <br></select></p>

    <input type="submit" value="Search for Museum">
  </form>

<div>
    {% block content %}
    {{table | safe}}
    {% endblock %}
</div>





<!--<p><a href="another">Go to the other page</a></p>-->

<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

</body>


</html>
